:root {
    --primary-color:#B83564;
    --dark-color: #272D4D;
    --light-color:#83B8AA;
    --win-color:#FFB350;
    --lose-color:#FF6A5A;
    --modal-duration: 1s;

}

body {
    background-image:url(/images/8bitback.jpg);
    box-sizing: border-box;
    object-fit: cover;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width:1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart-button {
    display: none;
    background: var(--light-color);
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor:pointer;
    border:none;
}

.restart-button:hover {
    background: var(--primary-color)
}

.header {
    text-align: center;
    margin: 1rem 0;
}

.choices {
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.text-win {
    color:var(--win-color);
}
.text-lose {
    color: var(--lose-color);
}
img {
    width: 100px;
    height:100px;
    border: solid rgb(10, 10, 10) 1px;
    border-radius: 4px;
    margin: 16px;
    cursor: pointer;
}
img:hover {
    box-shadow:6px 6px 6px 6px #83B8AA ;
}

